@charset "utf-8";

@font-face {
    font-family: Champagne;
    src: url('cac_champagne.woff') format('woff'), url('cac_champagne.ttf') format('tff');
    font-family: dobkin;
    src: url('DobkinPlain.woff') format('woff'), url('DobkinPlain.ttf') format('tff');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Austin Inmon
   Date: 11.9.18
	
   Filename: br_styles.css

*/

html {
    background-color: blanchedalmond;

}

body {
    background-image: url('br_paper.png');
    font-family: 'Libre Franklin',
        sans-serif;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid rgb(51, 51, 51);
    border-right: 2px solid rgb(51, 51, 51);
    box-shadow: rgb(51, 51, 51) 15px 0px 25px,
        rgb(51, 51, 51) -15px 0px 25px;
}

#firstnav {
    display: grid;
    grid-template-columns: repeat(5, .25fr);
    padding-bottom: 100px;
}

ul#firstnav li a {
    display: block;
    color: gray;
    font-size: 1.2em;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

ul#firstnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(40, 40, 40);

}

nav a:hover {
    background: wheat;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

article {
    overflow: scroll;
    width: 1200px;
    height: 900px;

}

aside {
    margin: 10px;
}

aside p {
    color: aliceblue;
    text-shadow: black 1px 1px 2px,
        rgba(21, 21, 21, .66) 4px 4px 20px;
}


aside h1 {
    color: aliceblue;
    text-shadow: black 1px 1px 2px,
        rgba(21, 21, 21, .66) 4px 4px 20px;
}

section#images {
    position: relative;
    left: 13%;
    right: 15%
}


section#image1 {
    text-align: center;
    float: left;

}

section#image2 {
    text-align: center;
    float: left;
}

section#image3 {
    text-align: center;
    float: left;
}

figure.image1 {
    border: 2px solid black;
    box-shadow: rgb(51, 51, 51) 5px 0px 25px,
        rgb(51, 51, 51) -5px 0px 25px;
}

figure.image2 {
    border: 2px solid black;
    box-shadow: rgb(51, 51, 51) 5px 0px 25px,
        rgb(51, 51, 51) -5px 0px 25px;
}

figure.image3 {
    border: 2px solid black;
    box-shadow: rgb(51, 51, 51) 5px 0px 25px,
        rgb(51, 51, 51) -5px 0px 25px;
}

figure.image4 {
    border: 2px solid black;
    box-shadow: rgb(51, 51, 51) 5px 0px 25px,
        rgb(51, 51, 51) -5px 0px 25px;
}

figure.image5 {
    border: 2px solid black;
    box-shadow: rgb(51, 51, 51) 5px 0px 25px,
        rgb(51, 51, 51) -5px 0px 25px;
}

figure.image6 {
    border: 2px solid black;
    box-shadow: rgb(51, 51, 51) 5px 0px 25px,
        rgb(51, 51, 51) -5px 0px 25px;
}

figure.image7 {
    border: 2px solid black;
    box-shadow: rgb(51, 51, 51) 5px 0px 25px,
        rgb(51, 51, 51) -5px 0px 25px;
}

figure.image8 {
    border: 2px solid black;
    box-shadow: rgb(51, 51, 51) 5px 0px 25px,
        rgb(51, 51, 51) -5px 0px 25px;
}

figure.image9 {
    border: 2px solid black;
    box-shadow: rgb(51, 51, 51) 5px 0px 25px,
        rgb(51, 51, 51) -5px 0px 25px;
}